.banner{
    height: 85vh;
    background-image: url(img/back.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner img{
  width: 45%;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FB8691;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 0;
}

.social-icons {
    background-color: #fce4ec; 
    border-radius: 40px; 
    padding: 3px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    box-shadow: 0 6px 8px rgba(0,0,0,0.1); 
    width: fit-content;
    margin: 20px auto; 
  }
  

.h_image{
    width: 50px;
    height: 50px;
}

.link{
    text-decoration: none;
}

.cnt{
    display: flex;
    align-items: center;
    gap: 43px;
}

.logo{
    width: 80px;
    padding-left: 40%;
    margin: 10px;
}

input{
background: #A75D5D;
box-shadow: inset 0px 4px 5.3px rgba(100, 55, 55, 0.25);
border-radius: 63px;
border: none;
width: 450px;
height: 30px;

}

.text {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #45171D;
    text-align: left;
    text-decoration: underline;
    
    width: fit-content;
    margin: 0;
}

.text1 {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    margin: 0;
    width: fit-content;
}

.lol {
  font-family: 'Caprasimo';


    background: #FAF1E6;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 30px;
    border: 3px solid #BC646D;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em #BC646D;
    color: #A75D5D;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* ORDER NOW */



  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #BC646D;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #BC646D;
  }

  input[type="text"]:focus {
    border-color: #ff8ba7;
    outline: none;
    box-shadow: 0 0 5px #b95e73;
  }

  .catalog{
    background-image: url(img/back1.png);
    background-size: cover;
    height: fit-content;
    background-position: 0 0;
    display: flex;
    align-items: center;
    padding-right: 80px;
  }

  .catalog img{
    width: 40%;
  }

  .c_title{
  font-family: 'Caprasimo';
  font-style: normal;

  

  font-weight: 350;
  font-size: 50px;
  color: #45171D;
  }

  .adv-item1{
    font-family: "Caprasimo", serif;
    
    font-size: 25px;
  }

  .adv-item2{
    font-family: "Caprasimo", serif;
    
    font-size: 25px;
    align-self:  flex-end;
  }

  .number{
    font-family: "Borel";
font-style: normal;
font-weight: 400;
font-size: 90px;
margin: 0;
background: linear-gradient(180deg, rgba(201, 90, 90, 0.81) 0%, rgba(72, 55, 39, 0.81) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


  }


  .btext{
  margin-bottom: 160px;
  }

  .bbutton{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-family: 'Caprasimo';

  }

  .delivery{
font-family: 'Caprasimo';
font-style: normal;
font-weight: 400;
font-size: 48px;
text-decoration: underline;
color: #45171D;
margin: 0;
  }

  .numbar{
    font-family: 'Caprasimo';
font-style: normal;
font-weight: 400;
font-size: 30px;
color: #45171D;
margin: 0;
  }

  .adv{
    height: 100px;
    display: flex;
    gap: 30px;
    padding-top: 20px;
    width: 600px;
    justify-content: center;
    box-sizing: content-box;
    color: #45171D;
  }

.c_text{
  display: flex;
  flex-direction: column;
  width: 800px;
}

.adv p{
  margin: 0;
}